body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #BBA145;
  color: #FFFFFF;

}

.service-details {
  display: flex;
  flex-direction: row;
  gap: 200px;
  margin: 50px 150px;
}

.div-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:0px 150px 2px 150px;
  margin-left: 300px;
  margin-bottom: 0;

}

.footer-trc {
  display: flex;
  flex-direction: row;
  gap: 100px;
}